@tailwind base;
@tailwind components;
@tailwind utilities;
 

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 72.2% 50.6%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 72.2% 50.6%;
  }
}


 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


h1,h2,h3,h4,h5,h6{
  @apply font-heading
}

p,li,span{
  @apply font-body
}

.swiper-button-next{
  color:red;
}

.gradient-red{
  background: rgb(253,29,29);
background: linear-gradient(90deg, rgba(253,29,29,0.9668242296918768) 33%, rgba(253,33,30,1) 71%, rgba(252,204,69,1) 100%);
}


.magicpattern { 
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1500%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%222000%22 height=%221500%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h2000v1500H0z%22%2F%3E%3C%2Fmask%3E%3Cpath d=%22M0 0h2000v1500H0z%22%2F%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%23222%22 stroke-width=%22.8%22 fill=%22none%22 mask=%22url(%23b)%22%3E%3Cpath d=%22M0 0h133v133H0zM133 0h133v133H133zM266 0h133v133H266zM399 0h133v133H399zM532 0h133v133H532zM665 0h133v133H665zM798 0h133v133H798zM931 0h133v133H931zM1064 0h133v133h-133zM1197 0h133v133h-133zM1330 0h133v133h-133zM1463 0h133v133h-133zM1596 0h133v133h-133zM1729 0h133v133h-133zM1862 0h133v133h-133zM0 133h133v133H0zM133 133h133v133H133zM266 133h133v133H266zM399 133h133v133H399zM532 133h133v133H532zM665 133h133v133H665zM798 133h133v133H798zM931 133h133v133H931zM1064 133h133v133h-133zM1197 133h133v133h-133zM1330 133h133v133h-133zM1463 133h133v133h-133zM1596 133h133v133h-133zM1729 133h133v133h-133zM1862 133h133v133h-133zM0 266h133v133H0zM133 266h133v133H133zM266 266h133v133H266zM399 266h133v133H399zM532 266h133v133H532zM665 266h133v133H665zM798 266h133v133H798zM931 266h133v133H931zM1064 266h133v133h-133zM1197 266h133v133h-133zM1330 266h133v133h-133zM1463 266h133v133h-133zM1596 266h133v133h-133zM1729 266h133v133h-133zM1862 266h133v133h-133zM0 399h133v133H0zM133 399h133v133H133zM266 399h133v133H266zM399 399h133v133H399zM532 399h133v133H532zM665 399h133v133H665zM798 399h133v133H798zM931 399h133v133H931zM1064 399h133v133h-133zM1197 399h133v133h-133zM1330 399h133v133h-133zM1463 399h133v133h-133zM1596 399h133v133h-133zM1729 399h133v133h-133zM1862 399h133v133h-133zM0 532h133v133H0zM133 532h133v133H133zM266 532h133v133H266zM399 532h133v133H399zM532 532h133v133H532zM665 532h133v133H665zM798 532h133v133H798zM931 532h133v133H931zM1064 532h133v133h-133zM1197 532h133v133h-133zM1330 532h133v133h-133zM1463 532h133v133h-133zM1596 532h133v133h-133zM1729 532h133v133h-133zM1862 532h133v133h-133zM0 665h133v133H0zM133 665h133v133H133zM266 665h133v133H266zM399 665h133v133H399zM532 665h133v133H532zM665 665h133v133H665zM798 665h133v133H798zM931 665h133v133H931zM1064 665h133v133h-133zM1197 665h133v133h-133zM1330 665h133v133h-133zM1463 665h133v133h-133zM1596 665h133v133h-133zM1729 665h133v133h-133zM1862 665h133v133h-133zM0 798h133v133H0zM133 798h133v133H133zM266 798h133v133H266zM399 798h133v133H399zM532 798h133v133H532zM665 798h133v133H665zM798 798h133v133H798zM931 798h133v133H931zM1064 798h133v133h-133zM1197 798h133v133h-133zM1330 798h133v133h-133zM1463 798h133v133h-133zM1596 798h133v133h-133zM1729 798h133v133h-133zM1862 798h133v133h-133zM0 931h133v133H0zM133 931h133v133H133zM266 931h133v133H266zM399 931h133v133H399zM532 931h133v133H532zM665 931h133v133H665zM798 931h133v133H798zM931 931h133v133H931zM1064 931h133v133h-133zM1197 931h133v133h-133zM1330 931h133v133h-133zM1463 931h133v133h-133zM1596 931h133v133h-133zM1729 931h133v133h-133zM1862 931h133v133h-133zM0 1064h133v133H0zM133 1064h133v133H133zM266 1064h133v133H266zM399 1064h133v133H399zM532 1064h133v133H532zM665 1064h133v133H665zM798 1064h133v133H798zM931 1064h133v133H931zM1064 1064h133v133h-133zM1197 1064h133v133h-133zM1330 1064h133v133h-133zM1463 1064h133v133h-133zM1596 1064h133v133h-133zM1729 1064h133v133h-133zM1862 1064h133v133h-133zM0 1197h133v133H0zM133 1197h133v133H133zM266 1197h133v133H266zM399 1197h133v133H399zM532 1197h133v133H532zM665 1197h133v133H665zM798 1197h133v133H798zM931 1197h133v133H931zM1064 1197h133v133h-133zM1197 1197h133v133h-133zM1330 1197h133v133h-133zM1463 1197h133v133h-133zM1596 1197h133v133h-133zM1729 1197h133v133h-133zM1862 1197h133v133h-133zM0 1330h133v133H0zM133 1330h133v133H133zM266 1330h133v133H266zM399 1330h133v133H399zM532 1330h133v133H532zM665 1330h133v133H665zM798 1330h133v133H798zM931 1330h133v133H931zM1064 1330h133v133h-133zM1197 1330h133v133h-133zM1330 1330h133v133h-133zM1463 1330h133v133h-133zM1596 1330h133v133h-133zM1729 1330h133v133h-133zM1862 1330h133v133h-133zM0 1463h133v133H0zM133 1463h133v133H133zM266 1463h133v133H266zM399 1463h133v133H399zM532 1463h133v133H532zM665 1463h133v133H665zM798 1463h133v133H798zM931 1463h133v133H931zM1064 1463h133v133h-133zM1197 1463h133v133h-133zM1330 1463h133v133h-133zM1463 1463h133v133h-133zM1596 1463h133v133h-133zM1729 1463h133v133h-133zM1862 1463h133v133h-133z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%220%22 stop-color=%22%23fff%22%2F%3E%3Cstop offset=%221%22 stop-color=%22%23fff%22 stop-opacity=%220%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
}
